﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CodeBox.ascx.cs" Inherits="Assignment2.usercontrol.CodeBox" %>
   
        <asp:DataGrid ID="Code_Format" runat="server" CssClass="CodeColor">
        </asp:DataGrid>