﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f5e6ff;
}
h2{
    font-weight:bold;
}
.CodeColor {
    white-space:pre-wrap;
    font-family: 'Source Code Pro', sans-serif;
}
pre {
    display: block;
    background-color:darkgray;
    white-space: pre;
    margin: 1em 0;
}
ul {
    list-style:none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
#page-wrapper {
    width: 100%;
    margin: 0 auto;
}
.jumbotron {
 /*We add some properties to make it center and with background color white.*/
    position: relative;
    padding: 20px !important;
    margin-top: 20px !important;
    background: #eee;
    margin-top: 23px;
    text-align: center;
    margin-bottom: 0 !important;
    background-color:white;
    color:floralwhite;
}